<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated azure -->
      <package
            uri="ecore://nasdanika.org/models/azure"
            class="org.nasdanika.models.azure.AzurePackage"
            genModel="model/azure.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated azure -->
      <package
            uri="ecore://nasdanika.org/models/azure/networking"
            class="org.nasdanika.models.azure.networking.NetworkingPackage"
            genModel="model/azure.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated azure -->
      <package
            uri="ecore://nasdanika.org/models/azure/storage"
            class="org.nasdanika.models.azure.storage.StoragePackage"
            genModel="model/azure.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated azure -->
      <package
            uri="ecore://nasdanika.org/models/azure/compute"
            class="org.nasdanika.models.azure.compute.ComputePackage"
            genModel="model/azure.genmodel"/>
   </extension>

</plugin>
